<div class="container">
    
    <h1>ABOUT</h1>
    We propose a system which is more reliable, safe tier and easy than the present
system.<br>
• In our new system, without the registration, unregistered customers and<br>
dealers cannot buy/sell the product.<br>
• Users can search used product with many criteria like brand, price, name,<br>
etc.<br>
• Different categories are available like men, women, kids, etc if they wish<br>
to buy clothes and other categories like electronics etc.<br>
• Different brands are also available like Hp, Nike, Biba, Apple, etc.<br>


<img class="img-fluid" src="../assets/Images/ProductX_logo.jpg" alt="" style="margin-left:0px; background-image: -moz-radial-gradient(); width:1000px "> 


</div>