
<div class="container">
    <br><br>
        <h3>Want to sell your product</h3>
    <h5>Click the button below</h5>
<button routerLink="/addproduct" class="btn btn-info" style="margin-left: 10px">Sell Your Product</button>

    <br><br><br>

<br>


<h3>Want to buy your product</h3>
    <h5>Click the button below</h5>
<button routerLink="/productlist/pId" class="btn btn-info" style="margin-left: 10px">Product List</button>
<br><br><br><br><br>

<h3>Cart</h3>
<button routerLink="/cart" class="btn btn-info" style="margin-left: 10px;">Cart</button>
<br><br><br><br>

<button routerLink="" class="btn btn-danger" style="margin-right: 20px;">Logout</button> <br><br><br><br>
    <br><br><br>

</div>