<div class="container">
    <title>ProductX - Buy and Sell Marketplace</title>
<!-- <img class="img-fluid" src="../assets/Images/ProductX_logo.jpg" alt="" style="margin-left:0px; background-image: -moz-radial-gradient(); width:1000px "> -->
<body>
    <div class="container">
        <header>

            <h1 class="hname">ProductX</h1>
        </header>
     
        <nav class="navbar navbar-expand-lg myclass">

        

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="homepage"> Home <span class="sr-only"></span></a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" routerLink="/lgn">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/signup">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contactus">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">About</a>
                    </li>
                    
                    
                    

                </ul>
                <div class="search-bar">
                    <input type="text" placeholder="Search for products...">
                    <button type="submit">Search</button>
                </div>    

            </div>
        </nav>
    </div>
    

</body>
</div>